@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    /* --orange:#ff7800; */
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
     /* background:#eee; */
     margin-left: 16%;
     margin-right: 16%;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 2rem;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.box {
  margin: 0 15% 0 15%;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header .logo img{
  max-width: 200px;
}

.header .navbar a{
    font-size: 1.5rem;
    margin:0 1rem;
    text-decoration: none;
    color: black;
}

.header .navbar a:hover{
    color: #666;
}

.content {
  padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 37%;
  gap: 3%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  transition: .6s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.grid-container .grid-item img{
  width: 100%;
  height: auto;
}

.grid-container .grid-item .item{
    text-align: left;
    padding: 5px;
}

.grid-container .grid-item .item span{
    font-size: 17px;
    font-weight: 800;
    color: #666;
}

.grid-container .grid-item .order{
    padding: 6px;
    width: 50%;
    background-color: black;
    color: white;
}

.grid-container .grid-item .description{
  width: 100%;
  height: 35vh;
  border: 1px solid black;
}

.grid-container .grid-item .description h3{
  font-size: 12px;
  padding: 3px;

}
.grid-container .grid-item p{
  padding-top: 8px;
  font-size: 12px;
  opacity: 70%;
  text-align: left;
}

.container-detail{
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  gap: 3%;
}

.item-detail {
  padding: 2px;
  text-align: center;
  width: 100%;
}

.item-detail img{
  opacity: 50%;
}

.list-category{
  padding-top: 100px;
}

.list-category h2{
  padding-left: 8px;
}

.list-category .search{
  padding-left: 8px;
}

.list-category table {
  width: 100%;
  /* text-align: center; */
  /* border: 1px solid black; */
}

.list-category table tr th,td{
  width: 25%;
  padding: 8px;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(173, 173, 173);
  opacity: 80%;
  color: #666;
}
.list-category a{
  text-decoration: none;
  color: #666;;
}

.list-category a:hover{
  color: #000;
}


.list-category .options{
  padding-top: 100px;
  padding-left: 8px;
  font-size: 1.3rem;
  font-style: bold;
  opacity: 50%;
}

.footer-image img{
  width: 100%;
}

.container-footer {
  display: grid;
  grid-template-columns: 80% 5% 5% 5% 5%;
  padding-top: 80px;
  padding-bottom: 20px;
}

.footer-image img{
  width: 100%;
}

.container-footer p{
    font-size: 1.4rem;
    opacity: 80%;
}
.item-footer{
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: right;
}

.item-footer a img {
  width: 20px;
  opacity: 50%;
}





